:root {
    --doc-accent-color: #ee51e1;
    --doc-base-color: #232328;
    --doc-nvsel-color: var(--doc-accent-color);
    --doc-cgrey-color: var(--doc-accent-color);
    --doc-stracc-color: var(--doc-accent-color);
    --doc-text-color: #FFFAFF;
    --doc-stext-color: var(--doc-accent-color);
    --doc-anav-color: #FFFAFF;
    --doc-anaver-color: #a934a0;
    --doc-ahover-color: #ff6ef3;
    --doc-a-color: var(--doc-accent-color);
    --wiki-color-buttback: var(--doc-stext-color);
    --wiki-color-buttback-hover: var(--doc-ahover-color);
    --wiki-color-quote: #808080;
}
* {
    color: var(--doc-text-color);
}

.topBar {
    border-bottom: 1px solid var(--doc-accent-color);
}
.colr {
    border: none;
}
h1 .topinfo  {
    display: none;
}
.roundImgCont {
    width: 40px;
}
.logoCont {
    padding: 0 5px;
}
a:hover {
    color: var(--doc-ahover-color);
}
a {
    color: var(--doc-a-color);
}
.col-l, .col-r, h2, input, select, textarea {
    border-color: var(--doc-accent-color);
}
.wikiButton {
    background-color: var(--doc-stext-color);
    color: var(--doc-text-color);
}
    .wikiButton:hover {
        background-color: var(--doc-ahover-color);
        color: var(--doc-text-color);
    }
.footer {
    background-color: var(--doc-base-color);
    border-top: 1px solid var(--doc-accent-color);
}
.suggestions ul li:hover {
    background-color: var(--doc-anaver-color);
}