.imgCont {
    width: 12%;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 12px;
    position: relative;
    margin: 0 10px;
    float: right;
    max-width: 150px;
}

    .imgCont img {
        border-radius: 12px;
        height:6.5vh;
        width: 100%;
        display: block;
        object-fit: cover;
    }

.overlay {
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: .6s ease;
    background-color: #000000;
}

.imgCont:hover .overlay {
    opacity: 0.3;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

    .modal img {
        margin: auto;
        display: block;
        width: 90%;
        border-radius: 12px;
    }

    .modal div {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    .modal img {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

@media only screen and (max-width: 700px) {
    .modal img {
        width: 100%;
    }
}

.hidCont p {
    min-height: 60px;
}
