body {
    background-image: url('/Imgs/OshBacc.png');
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}

.column {
  text-align: center;
  padding-top: 20px;
}

.stanForm {
    width:100%;
    display:inline-block;
    padding: 30px;
}
.stanForm input, .stanForm textarea {
    font-family: "Open Sans", var(--all-fontfams-base);
}

.stanForm .sideText {
    width: 60%;
}
.inputCont {
  margin: 0;
  display: inline-block;
  width: 100%;
}

.stanForm label {
    display: inline-block;
}
.stanForm button {
  margin-top: 40px;
}
.duel {
  display: flex;
}
.linkim {
    width: 21.6vw;
    height: 21.6vw;
    border-radius: 16.5%;
    display: block;
}
.squareCont input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}


.file-upload {
    background-color: #f3ebd5;
    width: 60%;
    margin: 0 auto 2vw;
    padding: 2vw;
}
.file-upload-content {
    display: none;
    text-align: center;
}
.image-upload-wrap {
  position: relative;
}
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    outline: none;
    opacity: 0;
    cursor: pointer;
}
.image-upload-wrap {
    border: 4px dashed red;
    position: relative;
    transition: all .3s ease;
}
    .image-dropping,
    .image-upload-wrap:hover {
        background-color: #61b3dd;
        border: 4px dashed black;
    }
.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}
.drag-text {
    text-align: center;
}
.remove-image {
    width: 40%;
    margin: 0 auto;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 0.2vw;
    border-radius: 4px;
    border-bottom: 0.7vw solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3vw;
}
    .remove-image:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
   .remove-image:active {
        border: 0;
        transition: all .2s ease;
    }
.contentBlock, .contentBlockT {
  border-top: 1px solid var(--all-color-albord);
  padding: 10px 0 20px;
  margin: 22px 0;
}
