RewriteEngine on

Require all granted
DirectoryIndex home.php

ErrorDocument 404 /Code/notFound.html
ErrorDocument 500 /Code/error.html

RewriteCond %{HTTP_HOST} ^(www\.)?manyisles\.ch [NC]
RewriteRule ^(.*)$ https://kartecaedras.ch/$1 [R=301,L]


RewriteRule  ^fandom/.*/([0-9]+)/.*   fandom/f.php?id=$1&%{QUERY_STRING} [NC,L]
RewriteRule  ^([^/]*)/wsettings  fandom/wsettings.php?domain=$1&%{QUERY_STRING} [L]
RewriteRule  ^([^/]*)/edit$ fandom/edit.php?domain=$1&%{QUERY_STRING} [L]
RewriteRule  ^docs/([0-9]+)/.*   docs/doc.php?id=$1 [NC,L]
RewriteRule  ^5eS/([0-9]+)/.*   5eS/rule.php?id=$1 [NC,L]
RewriteRule  ^mystral/([0-9]+)/([0-9]+)/.*$  mystral/note.php?id=$2&%{QUERY_STRING} [L]
RewriteRule  ^mystral/([0-9]+)/.*$  mystral/note.php?id=$1&%{QUERY_STRING} [L]

RewriteRule  ^spells/saved/([0-9A-Za-z]+)$   spells/saved.php?code=$1&%{QUERY_STRING} [NC,L]

RewriteRule  "ds/store" "ds/home.php" [L]
RewriteRule  ^ds/([0-9]+)/.*   ds/item.php?id=$1 [NC,L]
RewriteRule  "dl/home" "dl/Goods.php" [L]
RewriteRule  ^dl/item/([0-9]+)/.*   dl/item.php?id=$1 [NC,L]

RewriteRule  ^blog/post/(.+)/.*   blog/posted.php?p=$1 [NC,L]

RewriteRule  ^dic/([0-9]+)$ dic/dic.php?dicd=$1 [L]
RewriteRule  ^dic/word/([0-9]+).*$ dic/word.php?dicw=$1 [L]

RewriteRule ^events/$ events/events.php [L]

RewriteRule  ^([^/]*)/([0-9]+)/.*   $1/page.php?id=$2&%{QUERY_STRING} [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/(.*?)\.html$
RewriteCond %{DOCUMENT_ROOT}/%1.php -f
RewriteRule ^ /%1.php [L]
