
.switch {
    position: relative;
    display: block;
    width: 50px;
    height: 22px;
    margin: auto;
}
.smoothSwitchCont .switch {
    display: inline-block;
    margin: 0 8px;
}
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--wiki-color-green);
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 34px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .3s;
        transition: .3s;
        border-radius: 50%;
    }

.switch input:checked + .slider {
    background-color: var(--gen-color-bblue);
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px var(--gen-color-bblue);
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch.onoff input  + .slider {
    background-color: var(--col-red);
}
.switch.onoff input:checked + .slider {
    background-color: var(--wiki-color-green);
}