body, p, li, label {
    text-align: left;
    font-family: "Open Sans";
}
p {
  font-size:var(--all-fonts-base);
}
a, .fakelink {
    text-decoration: none;
    color: var(--gen-color-link);
}
a:hover, .fakelink:hover,  .Bar:hover {
    color: var(--gen-color-hlink);
}
.topnav, .dsFooter {
    background-color: #8f0404;
}
.premium {
  color: #ffcf3b;
}
.dsFooter p {
    text-align: center;
}
.topnav p, .topnav a {
    color: #d5d5d5;
}
    .top-bar:hover {
        color: white;
    }
    .myMenu {
        padding: 12px 0 0;
    }
.flex-container {
    max-width: 1800px;
    position: relative;
}
.left-col {
    max-width: 300px;
}

.itemRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    max-height: 1540px
}
.itemRow.single {
    height: 220px;
}
.container {
    width: 180px;
    padding: 10px 5px 5px 5px;
    border-radius: 7px;
}
    .container:hover {
        background-color: #f8f8f8;
    }


.imgCont {
    width: 100%;
    position: relative;
    border-radius: 13%;
    overflow: hidden;
    background-color: white;
    animation-name: imgCont;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    transition: .2s ease;
}
    .imgCont::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    .imgCont:hover {
        transform: translateY(-5px);
    }
    .imgCont img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }


@keyframes imgCont {
    0% {
        background-color: #a9b0ba;
    }

    50% {
        background-color: #ddd;
    }

    100% {
        background-color: #a9b0ba;
    }
}

button, .button, button a {
    background-color: #8f0404;
    color: #d5d5d5;
    border: none;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    transition: .3s ease;
    font-weight: normal;
    font-size: var(--all-fonts-larg);
    cursor: pointer;
}
    button:hover, .button:hover,  button a:hover {
        background-color: #bb1414;
    }

.titling {
    text-align: center;
    padding: 10px 0;
    font-size: var(--all-fonts-smal);
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*topBlock*/
.topBlock, .menuList {
    background-color: #ddd;
    border-radius: 5px;
    padding: 5px 10px;
}
.topBlock {
    position: relative;
}
.searcherCont {
    width: 80%;
    flex-direction :row;
}
.searchForm {
    display: flex;
    padding: 5px;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.search {
    margin: 10px;
    font-size: var(--all-fonts-base);
    padding: 6px;
    border-radius: 5px;
}
.searchButton {
    margin: 10px;
    font-size: var(--all-fonts-base);
    width: 150px;
}
.accLine {
  position: relative;

}
.icon {
    display: none;
}
.logoRound {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}
.logoRound img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.logoRound:hover .accntInfoCont {
  opacity: 1;
  transition-delay: 0s;
  pointer-events: all;
}
.accntInfoCont {
  width: clamp(220px, 20vw, 350px);
  min-height: 250px;
  position:absolute;
  top:0;
  right: calc(50% - 7px);
  padding-top: 45px;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s;
  transition-property: opacity, pointer-events;
  transition-delay: 0.6s, 1s;
  z-index: 3;
}
.accntInfoInCont {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px 0 5px 5px;
  border: 1px solid var(--all-color-albord);
  padding: 5px 10px 20px 10px;
  position: relative;
}
.accntInfoCont h3 {
  margin: 5px 0 15px;
}
.accntInfoCont button {
  margin: auto;
  display: block;
}
.accntInfoInCont::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  right: 0px;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent var(--all-color-albord) transparent;
}

/*menu*/
.menuCont {
    padding: 5px 10px;
    font-size: var(--all-fonts-base);
    text-align: left;
}
    .menuCont h3 {
        font-family: var(--gen-fontfams-headers);
        font-size: var(--all-fonts-h3);
        padding: 5px 0;
        margin: 0;
        text-align: left;
    }
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 10px 0 0;
}

.dropbtn {
    width: 100%;
    background-color: #ddd;
    color: black;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #b8b8b8;
        color: black;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
    font-size: 1.4vw;
}
.dropdown-content.show {
  display: block;
}
    .dropdown-content p {
        color: black;
        margin: 0;
        padding: 1vw 0.6vw;
        text-decoration: none;
        display: block;
    }

        .dropdown-content p:hover {
          background-color: #cac9c9;
        }
.menuList {
    list-style-type: none;
    margin: 10px 0 5px;
    font-size: var(--all-fonts-base);
    text-align: left;
    display: none;
}
.menuCont li {
    margin: 5px 0;
    transition: .2s ease;
}
.menuCont li:hover {
    transform: translateX(5px);
}
    .menuCont li.active {
        color: #8f0404;
        text-decoration: underline;
    }
select {
    font-size: var(--all-fonts-base);
    padding: 5px;
}
.menuCont input[type=text] {
    font-size: var(--all-fonts-base);
    padding: 5px;
    border-radius: 5px;
}
.menuCont button {
    margin-top: 5px;
    width: 100%;
}
.tabs-header {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px 0 25px;
}
.tabs-header h2 {
  margin: 0 0 5px 0;
}
.tabs-row {
  padding: 5px 0;
  text-align: left;
}
.tab {
    background-color: #f0eeee;
    color: black;
    border-radius: 50px;
    display: inline-block;
    transition: .4s ease;
    padding: 3px 5px;
    margin: 2px 5px;
    font-weight: normal;
    font-size: var(--all-fonts-base);
    font-family: var(--gen-fontfams-base);
}

    .tab:hover {
        background-color: #c9c9c9;
    }
.suggestions {
    position: absolute;
    top: calc(100% - 15px);
    left: 15px;
    margin: 2px 0;
    width: 70%;
    background-color: #ddd;
    border: 1px solid var(--col-lgrey);
    padding:8px;
    border-radius: 3px;
    z-index: 2;
}

.suggestions ul {
    list-style-type: none;
    padding:0;
    margin:0;
}
    .suggestions ul li {
        padding: 0;
        border-bottom: 1px solid #a8a8a8;
        transition: .1s ease;
    }
    .suggestions ul :last-child {
        border:none;
    }
    .suggestions ul li a {
        color: black;
        display: block;
        padding: 10px 5px;
    }
        .suggestions li:hover {
            background-color: #cac9c9;
        }
        .bottomad-container {
            position: fixed;
            width: 100%;
            bottom: 20px;
            z-index: 15;
            display: block;
        }

        .bottomad {
            background-color: white;
            box-shadow: 0 0px 120px 0 rgba(0, 0, 0, 0.4), 0 6px 120px 0 rgba(0, 0, 0, 0.22);
            height: 60px;
            float: right;
            margin-right: 2vw;
            border-radius: 50vw;
            display: flex;
            width: 300px;
            transition: .4s;
        }

            .bottomad img {
                float: left;
                height: 100%;
                border-radius: 50%;
                transform: translateX(-5px);
            }

            .bottomad a {
                line-height: 60px;
                color: black;
                height: 100%;
                padding-left: 20px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                font-size: var(--all-fonts-larg);
            }

            .bottomad:hover {
                background-color: #ddd;
            }
            .showBGer {
              display: none;
            }
