
.topnav, .dsFooter {
    background-color: #76b2d9;
}

    .topnav p, .topnav a {
        transition: .2s ease;
    }

        .topnav a:hover {
            color: #d5d5d5;
        }

h3 {
    margin: .2vw auto;
}

.checkoutBox {
    margin: 1vw auto;
}

.contentblock {
    overflow: scroll;
}

.inputErr {
    font-size: calc(9px + .3vw);
    color: red;
    text-align: left;
    margin: 0;
    padding-left: .4vw;
    display: none;
}

#infoSpan {
    display: none;
}
.container {
    height: 18vw;
    padding:0;
}

@media only screen and (min-width: 1500px) {
    .container {
        height: 280px;
    }
}

@media only screen and (max-width: 900px), (max-aspect-ratio:3/4) {
    .container {
        height:25vw;
    }
}
