:root {
    --e-lightshade: #e9f2f9;
    --e-separator: #5b6064;
    --e-border: #d0d7de;
    --e-inset: #f6f8fa;

    --e-defaultborder: 1px solid var(--e-border);
}
h2 {
    margin: 20px 0 10px;
}

.eContCol {
    display: flex;
}

.column-left {
    width: min(400px, 30%);
    padding: 10px;
}

.column-main {
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
}

/*left*/
.inColumnLeft {
    background-color: var(--e-lightshade);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}
.inColumnLeft.unaccented {
    background: none;
}

.inColumnFiller {
    width: 100%;
    display: block;
    object-fit: contain;
}

/*utils*/
.clear-separator {
    height: 1px;
    width: 100%;
    background-color: var(--e-separator);
}

.eventButton {
    border-radius: 120px;
    margin: 10px;
    padding: 10px 15px;
    display: block;
}
