:root{
  --spell-accent: #3f3b3b;
}
.content {
  flex-direction: row-reverse;
  padding: 0;
  width: 100%;
}
.col-l {
    width: 66%;
    height:100%;
    max-height: calc(100vh - 60px);
    margin: 0;
    overflow:auto;
    padding: 0 5px;
}
.col-r {
    width: 34%;
    min-height: 200px;
    max-height: 100%;
}

.search-tab {
  position: sticky;
  top: 0;
  padding: 15px 5px;
  background-color: var(--doc-base-color);
}
.theTable, thead, tbody {
  width: 100%;
  text-align: left;
}
tr:nth-child(even), thead tr {
  background-color: var(--spell-accent);
}
.theTable tr > :nth-child(1), .theTable tr > :nth-child(6) {
   display: none;
}
.image-content img {
  width: 100%;
}
.sInfoBlock {
  padding: 8px;
  border-bottom: 1px solid var(--spell-accent);
}
.sText {
  padding: 3px;
}
#sLevel, #sSchool, #sElement, #sClass {
    font-style: italic;
}

#sSchool {
    display: inline;
}

#sElement {
    padding-left: 3px;
    color: var(--doc-accent-color);
    display: inline;
}
